# Mac file.
.DS_Store

# Vim swap files.
*.swp

# Byte-compiled Python files.
__pycache__/

# Compiled C files.
C/bin/*
!C/bin/.gitkeep

# Ignore Rust binaries. New docs or scripts have to be added manually to get noticed by git.
# This is commented to make it easy to find files which need to be commited so they aren't forgotten.
#Rust/*
